name: Main

on:
  workflow_dispatch:
  push:
  # workflow_dispatch:
  schedule: # At 09:00 every day
    - cron: '0 9 * * *'

jobs:
  trigger-aws-beta:
    needs: []
    uses: ./.github/workflows/live_snyk_scan.yml
    with:
      KOSLI_ENV: aws-beta
    secrets:
      SNYK_TOKEN:      ${{ secrets.SNYK_TOKEN }}
      KOSLI_API_TOKEN: ${{ secrets.KOSLI_API_TOKEN }}

  trigger-aws-prod:
    needs: []
    uses: ./.github/workflows/live_snyk_scan.yml
    with:
      KOSLI_ENV: aws-prod
    secrets:
      SNYK_TOKEN:      ${{ secrets.SNYK_TOKEN }}
      KOSLI_API_TOKEN: ${{ secrets.KOSLI_API_TOKEN }}
