name: Live Snyk scans

on:
  workflow_call:
    inputs:
      KOSLI_ENV:
        required: true
        type: string
    secrets:
      SNYK_TOKEN:
        required: true
      KOSLI_API_TOKEN:
        required: true

env:
  KOSLI_API_TOKEN: ${{ secrets.KOSLI_API_TOKEN }}
  KOSLI_DEBUG:     ${{ vars.KOSLI_DEBUG }}          # true/false
  KOSLI_DRY_RUN:   ${{ vars.KOSLI_DRY_RUN }}        # true/false
  KOSLI_HOST:      ${{ vars.KOSLI_HOST }}           # https://app.kosli.com
  KOSLI_ORG:       ${{ vars.KOSLI_ORG }}            # cyber-dojo
  KOSLI_FLOW:      ${{ vars.KOSLI_FLOW }}           # aws-snyk-scan
  KOSLI_ENV:       ${{ inputs.KOSLI_ENV }}          # aws-beta | aws-prod

  AWS_ACCOUNT_ID: ${{ vars.AWS_ACCOUNT_ID }}
  AWS_REGION:     ${{ vars.AWS_REGION }}

jobs:

  find-artifacts:
    needs: []
    runs-on: ubuntu-latest
    outputs:
      artifacts: "${{ steps.vars.outputs.artifacts }}"
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Setup Kosli CLI
        uses: kosli-dev/setup-cli-action@v2
        with:
          version: ${{ vars.KOSLI_CLI_VERSION }}

      - name: Tag Kosli Flow
        run:
          kosli tag flow "${KOSLI_FLOW}"
            --set kind=run
            --set repo_url="${{ github.server_url }}/${{ github.repository }}"
            --set ci=github

      - name: Generate JSON for each Artifact in KOSLI_ENV for following job's strategy:matrix:include
        id: vars
        run: 
          echo "artifacts=$(make artifacts | jq --raw-output --compact-output .)" >> ${GITHUB_OUTPUT}


  live-snyk-scan:
    if: ${{ needs.find-artifacts.outputs.artifacts != '[]' }}
    needs: [find-artifacts]
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJSON(needs.find-artifacts.outputs.artifacts) }}
    env:
      SNYK_POLICY_FILENAME: .snyk
      SNYK_SARIF_FILENAME: snyk.container.scan.json
      KOSLI_TRAIL: ${{ matrix.repo_name }}-${{ matrix.artifact_fingerprint }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ env.AWS_ACCOUNT_ID }}:role/gh_actions_live_snyk_scans
          aws-region: ${{ env.AWS_REGION }}
          role-duration-seconds: 2400
          role-session-name: ${{ github.event.repository.name }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Pull the docker image
        run:
          docker pull --platform linux/amd64 "${{ matrix.artifact_name }}"

      - name: Get the .snyk file
        run: |
          curl "${{ matrix.raw_snyk_file_url }}" > ${SNYK_POLICY_FILENAME}
          cat ${SNYK_POLICY_FILENAME}

      - name: Setup Snyk
        uses: snyk/actions/setup@master

      - name: Run Snyk container scan
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        run:
          snyk container test "${{ matrix.artifact_name }}"
            --policy-path=${SNYK_POLICY_FILENAME}
            --sarif
            --sarif-file-output="${SNYK_SARIF_FILENAME}"

      - name: Snyk-container-test's exit code can be zero when no sarif file is produced!
        run:
          cat "${SNYK_SARIF_FILENAME}"

      - name: Setup Kosli CLI
        if: ${{ success() }}
        uses: kosli-dev/setup-cli-action@v2
        with:
          version: ${{ vars.KOSLI_CLI_VERSION }}

      # [kosli attest artifact] should not be necessary here, but currently it is.
      - name: Attest artifact to Kosli
        if: ${{ success() }}
        run:
          kosli attest artifact "${{ matrix.artifact_name }}"
            --fingerprint="${{ matrix.artifact_fingerprint }}"
            --name="${{ matrix.repo_name }}"

      - name: Attest snyk scan to Kosli
        if: ${{ success() }}
        run:
          kosli attest snyk
            --annotate=snapshot_URL="${{ matrix.snapshot_artifact_url }}"
            --attachments="${SNYK_POLICY_FILENAME}"
            --fingerprint="${{ matrix.artifact_fingerprint }}"
            --name="${{ matrix.repo_name }}.snyk-container-scan-${KOSLI_ENV}"
            --scan-results="${SNYK_SARIF_FILENAME}"

