name: Live Snyk scans

on:
  workflow_call:
    inputs:
      KOSLI_ENV:
        required: true
        type: string
    secrets:
      SNYK_TOKEN:
        required: true
      KOSLI_API_TOKEN:
        required: true

env:
  KOSLI_API_TOKEN: ${{ secrets.KOSLI_API_TOKEN }}
  KOSLI_DEBUG:     ${{ vars.KOSLI_DEBUG }}          # true/false
  KOSLI_DRY_RUN:   ${{ vars.KOSLI_DRY_RUN }}        # true/false
  KOSLI_HOST:      ${{ vars.KOSLI_HOST }}           # https://app.kosli.com
  KOSLI_ORG:       ${{ vars.KOSLI_ORG }}            # cyber-dojo
  KOSLI_FLOW:      ${{ vars.KOSLI_FLOW }}           # aws-snyk-scan
  KOSLI_ENV:       ${{ inputs.KOSLI_ENV }}          # aws-beta | aws-prod

  AWS_ACCOUNT_ID: ${{ vars.AWS_ACCOUNT_ID }}
  AWS_REGION:     ${{ vars.AWS_REGION }}

  DOCKER_API_VERSION:  ${{ vars.DOCKER_API_VERSION }}

jobs:

  find-artifacts:
    needs: []
    runs-on: ubuntu-latest
    outputs:
      artifacts: "${{ steps.vars.outputs.artifacts }}"
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Setup Kosli CLI
        uses: kosli-dev/setup-cli-action@v2
        with:
          version: ${{ vars.KOSLI_CLI_VERSION }}

      - name: Tag Kosli Flow
        run:
          kosli tag flow "${KOSLI_FLOW}"
            --set kind=run
            --set repo_url="${{ github.server_url }}/${{ github.repository }}"
            --set ci=github

      - name: Generate JSON for each Artifact in KOSLI_ENV for following job's strategy:matrix:include
        id: vars
        run: 
          echo "artifacts=$(make artifacts | jq --raw-output --compact-output .)" >> ${GITHUB_OUTPUT}


  live-snyk-scan:
    if: ${{ needs.find-artifacts.outputs.artifacts != '[]' }}
    needs: [find-artifacts]
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJSON(needs.find-artifacts.outputs.artifacts) }}
    env:
      SNYK_POLICY_FILENAME: .snyk
      SNYK_SARIF_FILENAME: snyk.container.scan.json
      KOSLI_TRAIL: ${{ matrix.repo_name }}-${{ matrix.artifact_fingerprint }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Load docker image from registry
        uses: cyber-dojo/load-image-from-registry@main
        with:
          image_name: "${{ matrix.artifact_name }}"

      - name: Get the .snyk file
        run: |
          curl "${{ matrix.raw_snyk_file_url }}" > ${SNYK_POLICY_FILENAME}
          cat ${SNYK_POLICY_FILENAME}

      - name: Setup Snyk
        uses: snyk/actions/setup@master
        with:
          snyk-version: v1.1300.2         

      - name: Fail if the sarif file already exists
        run: |
          if test -f "${SNYK_SARIF_FILENAME}" ; then
            echo "ERROR: ${SNYK_SARIF_FILENAME} already exists"
            exit 42
          fi

      - name: Run Snyk container test
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
          SNYK_ORG_ID: ${{ secrets.SNYK_ORG_ID }}
        run:
          snyk container test "${{ matrix.artifact_name }}"
            --org="${SNYK_ORG_ID}"
            --policy-path="${SNYK_POLICY_FILENAME}"
            --sarif
            --sarif-file-output="${SNYK_SARIF_FILENAME}"

      - name: Fail if the sarif file is not created
        run: |
          if ! test -f "${SNYK_SARIF_FILENAME}" ; then
            echo "ERROR: ${SNYK_SARIF_FILENAME} was not created"
            exit 43
          fi

      - name: Setup Kosli CLI
        if: ${{ success() || failure() }}
        uses: kosli-dev/setup-cli-action@v2
        with:
          version: ${{ vars.KOSLI_CLI_VERSION }}

      # [kosli attest artifact] should not be necessary here, but currently it is.
      - name: Attest artifact to Kosli
        if: ${{ success() || failure() }}
        run:
          kosli attest artifact "${{ matrix.artifact_name }}"
            --fingerprint="${{ matrix.artifact_fingerprint }}"
            --name="${{ matrix.repo_name }}"

      - name: Attest snyk scan to Kosli
        if: ${{ success() || failure() }}
        run:
          kosli attest snyk
            --annotate=snapshot_URL="${{ matrix.snapshot_artifact_url }}"
            --attachments="${SNYK_POLICY_FILENAME}"
            --fingerprint="${{ matrix.artifact_fingerprint }}"
            --name="${{ matrix.repo_name }}.snyk-container-scan-${KOSLI_ENV}"
            --scan-results="${SNYK_SARIF_FILENAME}"

